.body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 300px;
    background-color: #7FFFD4;
}

.button {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    
}

.quiz {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-color: black;
    

}

.question {
    margin-bottom: 20px;
}
